.header{
    width: 85%;
    margin-left: 8%;
    background-color:white;
    
}


.he{
   height:80px;
   margin-top: 15px;
   margin-bottom: 15px;
   
}
.gen{
   
    height:100px;
    display: flex;
    
}
.back{
    background-color:rgb(4, 28, 243);
}
.push{
    margin-left:auto;
}


